['db']
DB_HOST='localhost'
DB_PORT=5432
DB_DATABASE='ccfd_staging'
DB_USERNAME='postgres'
DB_PASSWORD=''

DB_DEFAULT_SCHEMA = 'transactions'
DB_CONNECTOR = 'alchemy' # or pg

['featurize']
FEATURE_SIZE = 15
SPLIT = 0.25
SEED = 42
SCALE = true

['tracking']
NEPTUNE_API_TOKEN = 
PROJECT_NAME = "anochima/ccfd"

N_ESTIMATORS = 90
CONTAMINATION_THRESH = 0.005
MAX_SAMPLES = 0.8
MAX_FEATURES = 3

